__pycache__/config.cpython-312.pyc
__pycache__/market_monitor.cpython-312.pyc
__pycache__/strategy_interpreter.cpython-312.pyc
__pycache__/synthetic_data_generator.cpython-312.pyc
__pycache__/trade_executor.cpython-312.pyc
__pycache__/trade_manager.cpython-312.pyc
__pycache__/trade_monitor.cpython-312.pyc
__pycache__/user_interface.cpython-312.pyc
__pycache__/user_interface.cpython-312.pyc
dump.rdb
__pycache__/user_interface.cpython-312.pyc
__pycache__/backtester.cpython-312.pyc
.env

__pycache__/backtester.cpython-312.pyc
dump.rdb
dump.rdb
__pycache__/backtester.cpython-312.pyc
__pycache__/budget_manager.cpython-312.pyc
__pycache__/user_interface.cpython-312.pyc
dump.rdb
dump.rdb
